<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mortonthompsond2.srndmt">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Record Application"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Manager's Page"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".UpdateData"
            android:label="Update Data"/>

        <activity android:name=".DisplayData"
            android:label="Display Data"/>

        <activity android:name=".DeleteData"
            android:label="Delete Data"/>

        <activity android:name=".DeleteDataTabTwo"
            android:label="Delete Data"/>

        <activity android:name=".DisplayDataTabTwo"
            android:label="Display Data"/>

        <activity android:name=".UpdateDataTabTwo"
            android:label="Update Data"/>

        <activity android:name=".DeleteDataTabeThree"
            android:label="Delete Data"/>

        <activity android:name=".DisplayDataTabThree"
            android:label="Display Data"/>

        <activity android:name=".UpdateDataTabThree"
            android:label="Update Data"/>

        <activity
            android:name=".tabsWithSignupsignin"
            android:label="SRNDMT"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".SignUPUser"
            android:label="Sign Up as a User"/>

        <activity android:name=".SignUPManager"
            android:label="Sign Up as a Manager"/>

        <activity android:name=".SignINUser"
            android:label="Sign In as a User"/>

        <activity android:name=".SignINManager"
            android:label="Sign In as a Manager"/>

        <activity android:name=".UserProfile"
            android:label="Profile"></activity>
    </application>

</manifest>